*{
    box-sizing: border-box;
} 
button{
    background-color:  #ffe6ff;
    color: black;
}

.page{
background-color: pink;
    height: auto;
    overflow: hidden;
     display: flex;
     flex-direction: column;
}
ul{
    margin: 0;
    padding: 0;
}

/* creating header */
.header{
    display: flex;
    width: 100%;
    height: 70px;
    flex-direction: row;
    background-color: whitesmoke;
    margin-top: 0px;
    
}
.studentMore ul{
    display: flex;
    justify-content:space-evenly;
    margin: 0;
    padding: 0;
    list-style: none;

}
#student_logo{
    width: 5%;
    font-size: 20px;
    padding-top: 5px;
    padding-left: 5px;
}
.studentMore li{

    width: 20%;
    margin: 0;
    padding: 0;
   
}

.header form{
    display: flex;
    flex: row;
    width: 100%;
    justify-content: flex-start;
    justify-content: space-between;
}
.menu{
    width: 15%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form input{
border-radius: 25px;

}
.header i{
    width: 50%;
    height: 50%;
    font-size: 45px;
    border-radius: 50%;
}

form select{
    border-radius: 25px;
    width: 100%;
    text-align: center;
    height: 30px;
    outline: 1px;
}
form button{
    width: 100%;
    height: 30px;
border-radius: 25px;
align-self: flex-start;
}
.logo{
    border-radius: 50%;
    width: 45%;
    height:90%;
    color: blue;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
   justify-content: center;
   align-items: center;
   padding-bottom: 30px;
   cursor: pointer;
}

/* making interview list  */

.interviewList{
    width: 100%;
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 5px;
}

.interview{
    display: flex;
    flex-direction: column;
    background-color: white;
   height: 27px;
   font-size: 18px;
  border-top:2px solid black ;
  border-bottom:2px solid black ;
  margin-bottom:2px  ;
  border-radius: 25px;
  overflow: hidden;
  margin-left: 3px;
  margin-right: 3px;
}

.interviewActive{
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: #f2f2f2;
   font-size: 18px;
  border-top:2px solid black ;
  border-bottom:2px solid black ;
  margin-bottom:2px  ;
  border-radius: 25px;
  overflow: hidden;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.interviewLess{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
   
}


.logo_interview i{
  font-size: 25px;;
}

#logo_interview{
    width:3%;
    display: flex;
    justify-content: center;
    align-items:center ;
}

.interviewLess ul{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
   
}

.interviewLess li{
    display: flex;
    width:20%;
    align-items: center;


}
#intervew_date{
    height: 27px;
    padding-top: 25px;
   overflow: hidden;
   
}
#more_info_drop{
    display: flex;
    justify-content: flex-end;
 
}
#more_info_drop i{
   margin-right: 10px;
}



/* creatin interview result form  */
.interviewMore {
    display: flex;
    flex-direction: column;
    width: 100%;

}
.interviewMore h5{
    align-self: center;
    margin-top: 10px;
}
.interviewMore h6{
    align-self: center;
    margin-top: 10px;
}

.interviewMore ul{
display: flex;
flex-direction: row;
margin-top: 5px;
padding-left: 10px;
padding-right: 10px;
border: 2px solid black;
border: 25px;
}

.interviewMore form{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.interviewMore li{
    display: flex;
    width: 33.3%;
}
.interivew_result_form button{
    width: 30%;
}
.interivew_result_form select{
    width: 60%;
}

/* creating interview form 0 */

.student_create{
    transition:all ease-in-out;
    display: none;
}

.nonActive{
    height: 60vh;
    width: 30vw;
    background-color:  #bfbfbf;
    position: fixed;
    top:50px;
    right: 35vw;
    flex-direction: column;
    border-radius: 25px;
    display: block;
    transition:all ease-in-out;
}
.student_form_row1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 25px;

}
.student_form_row1 i{
    font-size: 40px;
    padding-left: 20px;
    padding-top: 20px;

}

.exit{
 padding-right: 10px;
 color: red;
cursor: pointer;
}
.student_create form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;

}
.student_form_fields{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    margin-top: 10px;
}


.student_create button{
    margin-top: 20px;
    border-radius: 25px;
    background-color:     #ff99ff;
    color: black;
}
.nonActive button{
    margin-top: 20px;
    border-radius: 25px;
    background-color:     #ff99ff;
    color: black;
}
