
<link rel="stylesheet" href="/css/header.css">
<header><ul>
    <li><a href="">HOME</a></li>
    <li><a href="/student/studentList">STUDENT_LIST</a></li>
    <li><a href="">STUDENT-CVS</a></li>
    <li><a href="/interview/interviewList">INTERVIEW_LIST</a></li>
</ul>
</header>