<div class="container bg-primary border">
<form action="/student/newstudent" method="post">
    <h1>STUDENT DETAIL</h1>
    <input type="text" name="name" id="" placeholder="name of student">
    <input type="text" name="email" id="" placeholder=" student email ">  
    <input type="text" name="college" id="" placeholder=" student college ">
    <H1>SCORE DETAIL</H1>
    <input type="text" name="dsa" id=""  placeholder="DSA score">
    <input type="text" name="WEBDEV" id=""  placeholder="WebD score">
    <input type="text" name="react" id=""  placeholder="React score">
    <H1>BATCH DETAIL</H1>
    <input type="text" name="batch" id="" placeholder="enter batch">
    <button class="btn btn-danger btn-sm border">submit</button>
</form>

</div>