<link rel="stylesheet" href="/css/home.css">
<div class="container-fluid">
    <div class="row bg-primary">
        <div class="col">
            <h1><a href="/interview/create">Add new interview</a></h1>
        </div>

        <div class="col bg-danger border">
            <h1><a href="/student/download"> STUDENTS CSV</a></h1>
        </div>
        <div class="col bg-danger border">
            <h1><a href="/student/create">Add new studen</a></h1>
        </div>
    </div>

    <div class="row bg-danger">
   
    <div class="col border">
        <h2>LIst of interview</h2>
        <%- include('_listOfInterview.ejs');%>  
    </div>


    <div class="col border">
        <h2>LIst of student</h2>
<%- include('_listOfStudent.ejs');%>          
    </div>
    </div>
</div>