<div class="container bg-primary border">
    <form action="/interview/create" method="post">
        <h1>company DETAIL</h1>
        <input type="text" name="name" id="" placeholder="name of company">
        <input type="text" name="position" id="" placeholder=" enter position role">
        <H1>kill  require detail</H1>
        <input type="text" name="skill" id=""  placeholder="enter your skill">
        <button class="btn btn-danger btn-sm border">submit</button>
    </form>
    
    </div>