
<link rel="stylesheet" href="/css/singup.css">

<div class="main">

  <div class="container_main">

    <div class="singup ">

      <form   action="/employe/login" class="" method="post" >
        <h2>LOG-IN FORM</h2>
        <div class="inputform">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required>
        </div>
<div class="inputform">        <label for="password">Password:</label>
  <input type="password" id="password" name="password" required></div>



        <input type="submit" class="submit" value="login">
    <a href="/singup">SING_UP</a>
      </form>

    </div>
  </div>

</div>











  



